.row {
    height: 1000px;
}

ul {
    margin-top: 250px;
    list-style-type: none;
}

li {
    font-size: 15px;
    margin-top: 11px;
}

#menu {
    margin-left: -70px;
    
}

.col-sm-1 {
    margin-top: 0px;
    background-color: #373f42;
}

.col-sm-11 {
    margin-top: 0px;
    font-size: 12px;
}

#menu1, #menu2, #menu3, #menu4, #menu5 {
    text-decoration: none;
    color: #FFF;
}

.table, #btl_acoes {
    margin-top: 10px;
    text-align: right;
}
.table, col_acoes{
    text-align: center;
}

#btnRelatorio {
    margin-left: 95%;
}

#btnInserirEquipamento {
    margin-top: 25px;
}